
section{
    width: 25%%;
}
img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: black;
}
.div1{
    background-color: black;

}
.sec2{
    background-color: aqua;
    float: left;
}
h2{
    text-align: center;
}
